@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.about {
  background-color: #0a2750;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__content {
  margin-left: auto;
  z-index: 2;
  padding: 119px 80px 173px 0px;
  max-width: 600px;
}

.about__title {
  z-index: 1;
  margin: 0;
  padding: 100px 0 0 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  width: 300px;
}

.about__paragraph {
  display: block;
  margin: 0px 0px 16px 0px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.about__paragraph:nth-of-type(3n) {
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 425px;
  height: 425px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  width: 440px;
  height: 440px;
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
