@font-face {
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
  font-family: "Inter", "Arial", sans-serif;
  font-weight: bold;
}

@font-face {
  src: url("../fonts/NotoSerif-Regular.ttf") format("truetype");
  font-family: "NotoSerif", "Times New Roman", serif;
  font-weight: normal;
}
