.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/background_header.svg");
  height: 100vh;
  max-height: 800px;
  padding: 30px 38px 40px 80px;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 646px;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 202px 0 0;
}

.header__span-accent {
  position: static;
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: block;
}

.header__description:last-child {
  margin: 0;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 80px 0;
}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__footer_list-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__paragraph {
  color: #838383;
  font-style: normal;
}
