.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto 28px auto;
  padding: 100px 0 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 auto 100px auto;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}

.menu__cards {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0 100px 0px 100px;
  padding: 0 0 100px 0;
  flex-wrap: wrap;
}
