.recipes {
  background-color: #fff;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0 0 80px;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.recipes__subtitle {
  max-width: 438px;
  padding: 24px 0 0 80px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.recipes__video {
  display: flex;
  justify-content: center;
  margin: 80px 0 0 0;
  padding-bottom: 215px;
  flex-wrap: wrap;
}

.recipes__video-item {
  margin: 0 40px 0 0;
  width: 480px;
  height: 270px;
}

.recipes__video-item:nth-of-type(2n) {
  margin: 0;
}

.recipes__video-caption {
  display: flex;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  flex-grow: 1;
}

.recipes__caption {
  display: flex;
  flex-grow: 1;
}

.recipes__iframe {
  margin: 0 40px 24px 0px;
  border: none;
  width: 480px;
  height: 270px;
}
